<!doctype html>
<html xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <title>blablacar</title>
    <link rel="stylesheet" type="text/css" href="/asert/css/bootstrap.css" media="screen"/>
    <link rel="stylesheet" href="/asert/css/main1119.css"/>
    <script src="/asert/js/vue.js"></script>
    <script src="/asert/js/jquery-3.1.1.min.js"></script>
    <script src="/asert/js/bootstrap.js"></script>
<body>
<nav class="navbar navbar-default navbar-fixed-top"><div class="container">
    <div class="navbar-header">
        <a href="/" class="navbar-brand"><img src="https://d1ovtcjitiy70m.cloudfront.net/vi-1/images/blablacar-ridesharing-logo.svg" width="126" height="21"></a>
        <a data-toggle="collapse" data-target="#NavbarCollapse" class="navbar-toggle collapsed" href="#" aria-expanded="false">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span></a>
    </div>
    <nav id="NavbarCollapse" class="navbar-collapse collapse" aria-expanded="true" style="height: 227px;">
        <ul class="nav navbar-nav navbar-right">
            <li data-home="" >
                <a href="/v1/toPublishlineInfoPage" class="menu-main"><span>发布</span></a></li>
            <li data-services=""><a class="menu-child" href="/v1/myPublishLineInfo">我的发布</a><span id="userMsg"></span></li>
            <li data-orders=""><a href="/api/toIdentify" class="menu-main"><span>实名认证</span></a></li>
            <li data-pricing=""><a href="/" class="menu-main"><span>首页</span></a></li>
            <li data-orders=""><a class="menu-child" href="/user/logout">退出</a></li>
        </ul>
    </nav>

</div>
</nav>
<div id="app" class="container" style="margin-top: 70px" >

<div class="post" v-for="item in items" style="color: #fff">
    {{ item }}
    <div class="post-content">
            <h3><strong>{{ item.start }}</strong></strong><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span><strong>{{ item.end }}</strong>
            </h3>
        <p>
        <span class="price">¥{{ item.price }}</span>
        <span class="glyphicon glyphicon-calendar" aria-hidden="true">	{{ item.startTime }}</span>
        </p>
        <p>
            <a v-bind:href="'tel:'+item.userMobile"  v-if="item.type==1" class="discuss btn action-banner">电话联系</a>
            <a v-bind:href="'/api/toSubscibe/'+item.lid"  v-if="item.type==1" class="discuss btn contact-person">预约</a>
        </p>
    </div>
</div>
    <div v-if="show">
        <h3 style="color: #fff">抱歉，没有找人您的同路人，您可以点击发布行程，</h3>
        <div id="banner-home">
            <div class="action-banner wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
        <a id="installnow" href="/v1/toPublishlineInfoPage" class="btn-custom hvr-rectangle-out-bg">发布行程</a>
        <a id="more-features" href="/v1/toIndexPage" class="btn-custom hvr-rectangle-out"> 查看更多</a>
            </div>
        </div>
    </div>
</div>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            items: [
            ],
            show:false
        }
    });
    var params={
        startAdcode:localStorage.getItem("startlocationadcode"),
        endtAdcode:localStorage.getItem("detanationadcode"),
        type:localStorage.getItem("type")
    };
    $(document).ready(function () {
        $.ajax({
            type : "GET",
            url : "/location/lineInfo",
            data : params,
            success : function(data) {
                debugger
                app.items=data.buessObj;
                if (app.items.length==0){
                    app.show=true;
                }
            }
        });
    });
    console.log(localStorage.getItem("startlocationname"));
    console.log(localStorage.getItem("startlocationadcode"));
    console.log(localStorage.getItem("detanationname"));
    console.log(localStorage.getItem("detanationadcode"));
</script>
</body>
</html>