<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0"/>
    <title>济宁拼车网</title>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="/asert/js/mricode.pagination.js"></script>
    <script src="/asert/js/jquery.serializejson.js"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <link rel="shortcut icon" href="/asert/image/smalllogo.jpg" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.css"
          media="screen"/>
    <link rel="stylesheet" type="text/css" href="/asert/css/style.css"/>
    <link href="/asert/css/stylesheet.css" rel="stylesheet" type="text/css">
    <link href="/asert/css/mricode.pagination.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="/asert/css/main.css" media="screen"/>
    <script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.12&key=23834821b1465df3fa84571571947619&plugin=AMap.Driving">
    </script>
</head>
<body>
<style>
    .smallButton {
        border: 2px solid #777;
        display: inline-block;
        padding: 3px 3px;
        font-size: 20px;
        color: #777 !important;
        text-align: center;
        cursor: pointer;
        -moz-transform: rotate(260deg); /* Firefox */
        -webkit-transform: rotate(260deg); /* Safari 和 Chrome */
        transform: rotate(260deg);
        /*position: absolute;*/
        z-index: 10000;
        border-radius: 50%;
        background-color: #fff;
        outline: none;
        box-shadow: 0 0 10px rgba(0, 0, 0, .15);
        font-weight: 700;
        line-height: normal;
    }

</style>
<!--<nav class="navbar navbar-default navbar-fixed-top">-->
    <!--<div class="container" id="headapp">-->
        <!--<div class="navbar-header">-->
            <!--<p class="navbar-brand navbar-center">请提前发布拼车信息</p>-->
        <!--</div>-->
        <!--</c:choose>-->
    <!--</div>-->
<!--</nav>-->

<script src="https://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.js"></script>
<script src="https://cdn.bootcss.com/vue/2.5.3/vue.js"></script>
<script src="https://cdn.jsdelivr.net/vue.resource/1.2.1/vue-resource.min.js"></script>
<style>
    body {
        background-color: #315481;
        background-image: linear-gradient(to bottom, #315481, #918e82 100%);
        /*position: relative;*/
    }
    .container {
        max-width: 800px;
        min-height: 100%;
    }
</style>
<body>
<div class="container" id="app" style="padding-top: 15px;background: #fafafa">


    <form id="searchForm" class="form-inline" onsubmit="return false">
        <div class="row " style="margin-bottom: 15px;border-bottom: solid 2px #ddd;padding: 0px 0px  15px;">
            <input name="type" value="1" hidden id="type">
            <div class="col-xs-6 col-md-3" style="margin-bottom: 15px;"><input name="start" id="start"
                                                                               class="form-control" placeholder="出发地">
            </div>
            <div class="col-xs-6 col-md-3" style="margin-bottom: 15px;"><input name="end" id="end" class="form-control"
                                                                               placeholder="目的地"></div>
            <div class="col-xs-6 col-md-4"><input name="startTime" id="startTime" type="date" class="form-control"
                                                  placeholder="出发时间"></div>
            <input name="startAdcode" id="startAdcode" hidden="hidden">


            <div class="col-xs-2 col-md-2">
                <button class="btn btn-info" onclick="searchLineInfo()">查询</button>
            </div>
        </div>
    </form>
    <div class="post" v-for="item in items">

        <div class="post-content" v-on:click="showMap(item.startLongitude,item.startLatitude,item.endLongitude,item.endLatitude)">
            <!--<a v-bind:href="'/api/mySubscibe/'+item.lid">-->
            <p><span class="glyphicon glyphicon-map-marker" aria-hidden="true"
                     style="color:#5cb85c ;margin-right: 6px"></span><span> {{ item.start }}</span><span class="price">¥{{ item.price }}/人</span>
            </p>
            <p><span class="glyphicon glyphicon-map-marker" aria-hidden="true"
                     style="color: #f0ad4e;margin-right: 6px"></span>
                <span>{{ item.end }}</span>
            </p>
            <p>
            <ul class="inline" style="float: left;margin-bottom: 5px;margin-top: 5px">
                <span v-if="item.type==1" class="glyphicon glyphicon-shopping-cart"></span>
                <span class="glyphicon glyphicon-shopping-cart" v-if="item.type==0">{{ item.personCount }}人</span>
                <span class="" v-if="item.type==1">{{ item.personCount }}座 </span>
                <a v-bind:href="'tel:'+item.userMobile" class="hidden-xs"><span class="glyphicon glyphicon-phone"
                                                                                aria-hidden="true"></span>{{
                    item.userMobile }} </a>
                <span class="glyphicon glyphicon-calendar" aria-hidden="true">  </span> {{ item.startTime }}
                <span class="ensurebtn" v-if="item.type==1" style="padding: 0 2px;margin-left: 3px;">车主  </span>
                <span class="ensurebtn" v-if="item.type==0" style="padding: 0 2px;margin-left: 3px;">乘客  </span>
            </ul>

            </p>

        </div>
        <a v-bind:href="'tel:'+item.userMobile" class="smallButton" style="float: right"><strong><span
                class="glyphicon glyphicon-earphone" aria-hidden="true"></span></strong></a>
    </div>

    <em v-if="items.length== 0" style="align-content: center">抱歉，暂时没有找到您需要的顺风车信息。</em>
    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel">路线规划</h4>
                </div>
                <div class="modal-body" id="container" style="height: 350px">
                    <form>
                        <div class="form-group">
                            <label  class="control-label">Recipient:</label>

                        </div>
                        <div class="form-group">
                            <label  class="control-label">Message:</label>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="page" class="m-pagination"></div>
    <footer class="skill-ftw">
        <ul class="fixed-skill-ftw">
            <li class="skill-ftw-li">
                <a href="/v1/toPublishlineInfoPage">
                    <span class="skill-ftw-item jd-goods   ">发布行程</span>
                </a>
            </li>
            <li class="skill-ftw-li">
                <a href="/template/searchIndex.html">
                    <span class="skill-ftw-item brand-goods active">查找</span>
                </a>
            </li>
            <li class="skill-ftw-li">
                <a href="/v1/myMenu">
                    <span class="skill-ftw-item choice-goods ">我的</span>
                </a>
            </li>
        </ul>
    </footer>
</div>
<script src="/asert/js/jquery.autocompleter.js"></script>
<script type="text/javascript">



    var app = new Vue({
        el: '#app',
        data: {
            items: []
        },
        methods:{
            showMap: function (a,b,c,d) {
                if(!a || !b || !c || !d){
                    alert("位置信息不完整，无法规划路线");
                    return;
                }

                //基本地图加载
                var map = new AMap.Map("container", {
                    resizeEnable: true,
                    center: [a, b],//地图中心点
                    zoom: 9 //地图显示的缩放级别
                });
                //构造路线导航类
                var driving = new AMap.Driving({
                    map: map
                });
                // 根据起终点经纬度规划驾车导航路线
                driving.search(new AMap.LngLat(a, b), new AMap.LngLat(c, d), function(status, result) {
                    // result 即是对应的驾车导航信息，相关数据结构文档请参考  https://lbs.amap.com/api/javascript-api/reference/route-search#m_DrivingResult
                    if (status === 'complete') {
                        //log.success('绘制驾车路线完成')
                    } else {
                        //log.error('获取驾车数据失败：' + result)
                    }
                });
                $('#modal').modal('toggle')
            }
        }
    })
    function searchLineInfo() {
        $("#page").pagination('remote');
    }
    $("#page").pagination({
        pageSize: 10,
        remote: {
            url: '/v1/lineInfos',
            pageParams: function (data) {
                var params = $("#searchForm").serializeJSON();
                return {
                    pageIndex: data.pageIndex,
                    pageSize: data.pageSize,
                    type: params.type,
                    start: params.start,
                    end: params.end,
                    startTime: params.startTime
                };
            },
            success: function (data) {
                app.items = data.list;
            },
            totalName: 'total'
        }
    });
    /**
     * 提示输入
     */
    $(function () {
        $('#start').autocompleter({
            cache: false,
            // marker for autocomplete matches
            highlightMatches: true,

            // object to local or url to remote search
            source: '/v2//HintInfo',

            template: '{{ name }}',
            // show hint
            hint: false,

            // abort source if empty field
            empty: false,

            // max results
            limit: 5,
        });
        $('#end').autocompleter({
            cache: false,
            // marker for autocomplete matches
            highlightMatches: true,

            // object to local or url to remote search
            source: '/v2//HintInfo',

            template: '{{ name }}',
            // show hint
            hint: false,

            // abort source if empty field
            empty: false,

            // max results
            limit: 5,
        });
    });
</script>

</body>
</html>
