<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <title>顺风车网、拼车网</title>

    <meta http-equiv="Content-Type" content="text/html; charset=gb2312">

    <meta name="description" content="任我行顺风车网@中国最大最早的拼车网站，找拼车，顺风车，预定长途汽车票，就上任我行顺风车网">

    <meta name="keywords" content="拼车网,拼车,顺风车,嘀嗒拼车,长途拼车,拼车回家,顺丰车,滴答拼车,拼车软件,微微拼车,顺路拼车,滴滴顺风车,滴滴拼车,汽车票,带货,滴滴打车,优步,曹操专车,嘀嘀打车,神州专车,拼客,嘀嘀顺风车,约车,拼车帮,跨城顺风车,51用车,长途客车">
    <link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.css" media="screen"/>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.js"></script>
    <script src="https://cdn.bootcss.com/vue/2.5.3/vue.js"></script>
</head>
<style>
    body{
        color: #fff;
        background-color: #315481;
        background-image: linear-gradient(to bottom, #315481, #918e82 100%);
        position: relative;
    }
    .navbar{
        background: #d2edf4;
        background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
    }

</style>
<div id="app">
    <nav class="navbar navbar-default navbar-fixed-top" style="background-color: #fff"><div class="container">
        <a href="/" class="navbar-brand">
            <img src="/asert/image/newlogo.png" style="margin-top: -5px" width="200" height="30" class="img-responsive" >
        </a>
        <div v-if="showheader">
            <div class="navbar-header">
                <a data-toggle="collapse" data-target="#NavbarCollapse" class="navbar-toggle collapsed col-md-2" href="#" aria-expanded="false">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span></a>
            </div>
            <nav   id="NavbarCollapse" class="navbar-collapse collapse" aria-expanded="true" style="height: 227px;">
                <ul class="nav navbar-nav navbar-right">
                    <li data-home="" >
                        <a href="/v1/toPublishlineInfoPage" class="menu-main"><span>发布行程</span></a></li>
                    <li data-pricing=""><a href="/v1/toIndexPage" class="menu-main"><span>查找</span></a></li>
                    <li data-pricing=""><a href="/v1/myMenu" class="menu-main"><span>我的</span></a></li>
                </ul>
            </nav>
        </div>
        <div v-if="!showheader">
            <ul class="nav  navbar-right">
                <li data-pricing="">
                    <a href="/user/tologin" class="" style="float: right;margin-top: 6px;"><span>登录</span></a>
                    <span class="hidden-xs" style="float: right;padding: 16px 15px">更多行程信息，点击</span>
                </li>
            </ul>
        </div>

    </div>
    </nav>
</div>
</nav>
<div class="container" STYLE="margin-top: 70px" id="container">
    <div class="row row-bottom-padded-lg">
        <div class="col-md-10 col-md-offset-1">
            <div class="col-md-4 animate-box fadeInLeft animated" data-animate-effect="fadeInLeft">
                <img src="/asert/image/IMG_2251.PNG" alt="Free HTML5 Bootstrap Template" class=" img-responsive">
            </div>
            <div class="col-md-7 col-md-push-1">
                <h3>我是车主</h3>
                <p>车主发布行程,可以查看附近车主，如果双方的路线顺路，乘客可以点击<strong class="danger">预约</strong>或者直接<strong>电话联系</strong>车主，确认同行，搭乘车主的车多人顺路拼车，让车主更容易降低养车成本，让乘客更方便出行， 让你结识身边的TA，出行从此不再孤单。</p>
                <p><a href="/v1/toPublishlineInfoPage" class="btn btn-primary">发布行程</a></p>
            </div>
        </div>
    </div>
    <div class="row row-bottom-padded-lg">
        <div class="col-md-10 col-md-offset-1">
            <div class="col-md-4 col-md-push-8 animate-box fadeInRight animated" data-animate-effect="fadeInRight">
                <img src="/asert/image/IMG_2235.PNG" alt="Free HTML5 Bootstrap Template" class=" img-responsive">
            </div>
            <div class="col-md-7 col-md-pull-4">
                <h3>我是乘客</h3>
                <p>乘客可以自己发布行程，有需要的车主可以根据行程找到乘客，用户将从海量的用户线路中 匹配出合适的司机或乘客，<strong>电话联系</strong>车主， 让您轻松选出最心仪的通勤伴侣。</p>
                <p><a href="/v1/toIndexPage" class="btn btn-primary">查找</a></p>
            </div>

        </div>
    </div>
    <div style="text-align: center" >
        <h3 >扫码关注济宁拼车网公众号</h3>
        <img src="/asert/image/gongzhonghao.png" class="img-responsive" style="margin-left: auto;margin-right: auto" width="140">
    </div>
    <footer>
        <div class="col-sm-12" style="text-align: center;"><small>
            <span>Copyright ©济宁拼车网</span> |
            <span>京ICP备17060186号</span></small>
        </div>
    </footer>
</div>
<script>
    var app = new Vue({
        el: '#app',
        data: {
        showheader:false
        }
    });
    $.ajax({
        type : "GET",
        url : "/user/checkloginstatus",
        success : function(data) {
            app.showheader=data;
        }
    });
    console.log('%cqq:202655989 ', 'background-image:-webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );color:transparent;-webkit-background-clip: text;font-size:5em;');
</script>
</body>
</html>