html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #315481;
    background-image: linear-gradient(to bottom, #315481, #918e82 100%);
}

#container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}
#banner-home .action-banner {
    display: block;
    /*max-width: 404px;*/
    float: right;
    width: 100%;
    margin: 25px auto;
}
#banner-home .action-banner #installnow {
    background-color: #de4f4f;
    color: #fff;
    float: left;
    border: none;
    width: 200px;
}
.installnow{
    background-color: #de4f4f;
    color: #fff;
    float: left;
    border: none;
    width: 200px;
}
#banner-home .action-banner .btn-custom {
    width: 200px;
    position: relative;
    z-index: 9;
    display: inline-block;
    text-align: center;
    font-size: 13px;
    font-family: 'ProximaNova-Bold';
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    height: 50px;
    line-height: 50px;
    border: 1px solid #fff;
    margin-right: 20px;
}
.action-banner .btn-custom {
    /*width: 230px;*/
    width: 200px;
    position: relative;
    z-index: 9;
    display: inline-block;
    text-align: center;
    font-size: 13px;
    font-family: 'ProximaNova-Light';
    text-decoration: none;
    color: #de4f4f;
    text-transform: uppercase;
    height: 50px;
    line-height: 50px;
    border: 1px solid #de4f4f;
    margin-right: 20px;
}
.hvr-rectangle-out-bg {
    transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
}
.hvr-rectangle-out:hover, .hvr-rectangle-out:focus, .hvr-rectangle-out:active {
    color: #fff!important;
    background-color: #a83636!important;
    border-color: #a83636!important;
}
.hvr-rectangle-out-bg:hover, .hvr-rectangle-out-bg:focus, .hvr-rectangle-out-bg:active {
    color: #fff!important;
    background-color: #a83636!important;
    border-color: #a83636!important;
}
#tip {
    background-color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    font-size: 12px;
    right: 10px;
    top: 20px;
    border-radius: 3px;
    border: 1px solid #ccc;
    line-height: 30px;
}
.amap-info-content {
    font-size: 12px;
}

#myPageTop {
    position: absolute;
/*    bottom: 0px;*/
    right:0px;
    background: #404969 none repeat scroll 0 0;
    border: 1px solid #ccc;
    margin: 10px auto;
    padding:6px;
    font-family: "Microsoft Yahei", "微软雅黑", "Pinghei";
    font-size: 14px;
    z-index: 9;
}
#myPageTop label {
    margin: 0 20px 0 0;
    color: #fff;
    font-weight: normal;
}
@media (max-width: 480px){
#banner-home .action-banner {
        max-width: 320px;
}
}
@media (max-width: 480px){
    #banner-home .action-banner #installnow {
        margin: 0px 0px 20px 0px;
        float: none;
    }
}
.form-account input {
   /* display: inline-block;*/
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #8e8e8e;
    font-style: italic;
    margin-bottom: 15px;
    height: 40px;
    font-family: 'ProximaNovaT-Thin';
    border: 1px solid #566391;
    border-radius: 0;
}
#myPageTop .column2{
    padding-left: 25px;
}
.choose-button {
    text-decoration: none;
    color: #fff;
    background-color: #e45735;
    border: none;
    padding: 5px 12px;
    font-size: 1.143em;
    line-height: 20px;
    transition: background .15s;
}
.choose-button:hover{
    text-decoration: none;
    color: #fff!important;
    background-color: #a83636!important;
    border-color: #a83636!important;
}
.form-account .btn-primary-meteor {
    display: inline-block;
    width: 100%;
    background-color: #de4f4f;
    margin-top: 10px;
    margin-bottom: 15px;
    color: #fff;
    border: none;
    height: 42px;
    text-align: center;
    line-height: 42px;
    font-size: 17px;
    text-transform: uppercase;
}
.form-account .error-account {
    display: inherit;
    color: #de4f4f;
    font-size: 13px;
    position: relative;
    top: -5px;
    margin-bottom: 10px;
}