<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cxy.dao.LineInfoMapper">
  <resultMap id="BaseResultMap" type="com.cxy.entity.LineInfoAndUserInfo">
    <id column="lid" property="lid" jdbcType="INTEGER" />
    <result column="start" property="start" jdbcType="VARCHAR" />
    <result column="end" property="end" jdbcType="VARCHAR" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="plate_number" property="plateNumber" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="DOUBLE" />
    <result column="isBargin" property="isbargin" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="person_count" property="personCount" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="start_adcode" property="startAdcode" jdbcType="VARCHAR" />
    <result column="start_longitude" property="startLongitude" jdbcType="DOUBLE" />
    <result column="start_latitude" property="startLatitude" jdbcType="DOUBLE" />
    <result column="end_adcode" property="endAdcode" jdbcType="VARCHAR" />
    <result column="end_longitude" property="endLongitude" jdbcType="DOUBLE" />
    <result column="end_latitude" property="endLatitude" jdbcType="DOUBLE" />
    <result column="user_nickname" property="userNickname" jdbcType="VARCHAR" />
    <result column="user_mobile" property="userMobile" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List">
    lid, start, end,date_format(start_time, '%Y-%m-%d %H:%i:%s') as start_time, plate_number, price, isBargin, status, person_count,
    type, user_id, start_adcode, start_longitude, start_latitude, end_adcode, end_longitude,
    end_latitude, user_nickname, user_mobile
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />from line_info
    where lid = #{lid,jdbcType=INTEGER}
  </select>

  <select id="countLineInfo" parameterType="com.cxy.entity.LineInfo" resultType="java.lang.Integer">
    select count(*) from line_info <include refid="sql_where" />
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from line_info
    where lid = #{lid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cxy.entity.LineInfo">
    insert into line_info (lid, start, end, 
      start_time, plate_number, price, 
      isBargin, status, person_count, 
      type, user_id)
    values (#{lid,jdbcType=INTEGER}, #{start,jdbcType=VARCHAR}, #{end,jdbcType=VARCHAR}, 
      #{startTime,jdbcType=TIMESTAMP}, #{plateNumber,jdbcType=VARCHAR}, #{price,jdbcType=DOUBLE},
      #{isbargin,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{personCount,jdbcType=INTEGER}, 
      #{type,jdbcType=INTEGER}, #{userId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cxy.entity.LineInfo">
    insert into line_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="lid != null" >
        lid,
      </if>
      <if test="start != null" >
        start,
      </if>
      <if test="end != null" >
        end,
      </if>
      <if test="startTime != null" >
        start_time,
      </if>
      <if test="plateNumber != null" >
        plate_number,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="isbargin != null" >
        isBargin,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="personCount != null" >
        person_count,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="startAdcode != null" >
        start_adcode,
      </if>
      <if test="startLongitude != null" >
        start_longitude,
      </if>
      <if test="startLatitude != null" >
        start_latitude,
      </if>
      <if test="endAdcode != null" >
        end_adcode,
      </if>
      <if test="endLongitude != null" >
        end_longitude,
      </if>
      <if test="endLatitude != null" >
        end_latitude,
      </if>
      <if test="userNickname != null" >
        user_nickname,
      </if>
      <if test="userMobile != null" >
        user_mobile,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="lid != null" >
        #{lid,jdbcType=INTEGER},
      </if>
      <if test="start != null" >
        #{start,jdbcType=VARCHAR},
      </if>
      <if test="end != null" >
        #{end,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="plateNumber != null" >
        #{plateNumber,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DOUBLE},
      </if>
      <if test="isbargin != null" >
        #{isbargin,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="personCount != null" >
        #{personCount,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="startAdcode != null" >
        #{startAdcode,jdbcType=VARCHAR},
      </if>
      <if test="startLongitude != null" >
        #{startLongitude,jdbcType=DOUBLE},
      </if>
      <if test="startLatitude != null" >
        #{startLatitude,jdbcType=DOUBLE},
      </if>
      <if test="endAdcode != null" >
        #{endAdcode,jdbcType=VARCHAR},
      </if>
      <if test="endLongitude != null" >
        #{endLongitude,jdbcType=DOUBLE},
      </if>
      <if test="endLatitude != null" >
        #{endLatitude,jdbcType=DOUBLE},
      </if>
      <if test="userNickname != null" >
        #{userNickname,jdbcType=VARCHAR},
      </if>
      <if test="userMobile != null" >
        #{userMobile,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cxy.entity.LineInfo">
    update line_info
    <set >
      <if test="start != null" >
        start = #{start,jdbcType=VARCHAR},
      </if>
      <if test="end != null" >
        end = #{end,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="plateNumber != null" >
        plate_number = #{plateNumber,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DOUBLE},
      </if>
      <if test="isbargin != null" >
        isBargin = #{isbargin,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="personCount != null" >
        person_count = #{personCount,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="startAdcode != null" >
        start_adcode = #{startAdcode,jdbcType=VARCHAR},
      </if>
      <if test="startLongitude != null" >
        start_longitude = #{startLongitude,jdbcType=DOUBLE},
      </if>
      <if test="startLatitude != null" >
        start_latitude = #{startLatitude,jdbcType=DOUBLE},
      </if>
      <if test="endAdcode != null" >
        end_adcode = #{endAdcode,jdbcType=VARCHAR},
      </if>
      <if test="endLongitude != null" >
        end_longitude = #{endLongitude,jdbcType=DOUBLE},
      </if>
      <if test="endLatitude != null" >
        end_latitude = #{endLatitude,jdbcType=DOUBLE},
      </if>
      <if test="userNickname != null" >
        user_nickname = #{userNickname,jdbcType=VARCHAR},
      </if>
      <if test="userMobile != null" >
        user_mobile = #{userMobile,jdbcType=VARCHAR},
      </if>
    </set>
    where lid = #{lid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cxy.entity.LineInfo">
    update line_info
    set start = #{start,jdbcType=VARCHAR},
      end = #{end,jdbcType=VARCHAR},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      plate_number = #{plateNumber,jdbcType=VARCHAR},
      price = #{price,jdbcType=DOUBLE},
      isBargin = #{isbargin,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      person_count = #{personCount,jdbcType=INTEGER},
      type = #{type,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=VARCHAR}
    where lid = #{lid,jdbcType=INTEGER}
  </update>
  <sql id="sql_where" >
    <where >
      <if test="start != null and start != ''">
        and start  like  CONCAT(CONCAT('%', #{start}), '%')
      </if>
      <if test="startAdcode != null and startAdcode != ''">
        and start_adcode = #{startAdcode,jdbcType=VARCHAR}
      </if>
      <if test="end != null and end != ''">
        and end LIKE CONCAT(CONCAT('%', #{end}), '%')
      </if>
      <if test="endAdcode != null and endAdcode != ''">
        and end_adcode = #{endAdcode,jdbcType=VARCHAR}
      </if>
      <if test="startTime != null and startTime != ''" >
        and  Date(start_time) >= #{startTime}
      </if>
      <if test="plateNumber != null" >
        and plate_number = #{plateNumber}
      </if>
      <if test="price != null" >
        and price = #{accountId}
      </if>
      <if test="isbargin != null" >
        and isBargin = #{isbargin}
      </if>
      <if test="status != null" >
        and status = #{status}
      </if>
      <if test="personCount != null" >
        and person_count = #{personCount}
      </if>
      <if test="type != null" >
        and type = #{type}
      </if>
      <if test="userId != null" >
        and user_id = #{userId}
      </if>
       order by start_time desc
      <if test="begin!=null and pageSize!=null">
        limit #{begin},#{pageSize}
      </if>
    </where>
  </sql>
  <select id="getLineInfoList" resultMap="BaseResultMap" parameterType="com.cxy.entity.LineInfo" >
    select <include refid="Base_Column_List" /> from line_info
    <include refid="sql_where" />
  </select>

  <select id="getLineInfoListForLocation" resultMap="BaseResultMap" parameterType="com.cxy.entity.LineInfo" >
    select <include refid="Base_Column_List" /> from line_info
    <include refid="sql_where" />
  </select>
  <select id="getLineInfoSubCount" resultType="java.lang.Integer" parameterType="java.lang.Long" >
    select count(1) from subscribe where 1=1
      and lineinfo_id in( select  lid from line_info where user_id = #{userId} and `status` = 1 and start_time>curdate())
  </select>
  <select id="getSubLineInfoList" resultMap="BaseResultMap" parameterType="com.cxy.entity.LineInfo" >
    select <include refid="Base_Column_List" />,b.user_name,b.mobile,b.nick_name from line_info a left JOIN  user b ON  a.user_id=b.id
    where  status = #{status} and   start_time>curdate()   and user_id = #{userId}
    and a.lid in ( select lineinfo_id from subscribe GROUP BY lineinfo_id)
    order by start_time desc
  </select>
  <select id="countSubLineInfo" parameterType="com.cxy.entity.LineInfo" resultType="java.lang.Integer">
    select count(1) from line_info where  status = #{status} and   start_time>curdate()   and user_id = #{userId}
    and lid in ( select lineinfo_id from subscribe GROUP BY lineinfo_id)
  </select>
</mapper>