<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cxy.dao.MessageMapper">
  <resultMap id="BaseResultMap" type="com.cxy.entity.Message">
    <id column="msg_id" jdbcType="VARCHAR" property="msgId" />
    <result column="sender_id" jdbcType="VARCHAR" property="senderId" />
    <result column="sender_name" jdbcType="VARCHAR" property="senderName" />
    <result column="receiver_id" jdbcType="VARCHAR" property="receiverId" />
    <result column="receiver_name" jdbcType="VARCHAR" property="receiverName" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="is_read" jdbcType="INTEGER" property="isRead" />
    <result column="send_time" jdbcType="TIMESTAMP" property="sendTime" />
  </resultMap>
  <sql id="Base_Column_List">
    msg_id, sender_id, sender_name, receiver_id, receiver_name, content, is_read, send_time
  </sql>
  <select id="selectMessageList" parameterType="java.lang.String" resultMap="BaseResultMap" useCache="true" fetchSize="20">
    select
    <include refid="Base_Column_List" />
    from message
    where  receiver_id = #{receiver_id,jdbcType=VARCHAR} and is_read=0
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from message
    where msg_id = #{msgId,jdbcType=VARCHAR}
  </select>
  <select id="countMessage" parameterType="java.lang.String" resultType="java.lang.Integer">
    select
    count(*)
    from message
    where receiver_id = #{receiver_id,jdbcType=VARCHAR} and is_read=0
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from message
    where msg_id = #{msgId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.cxy.entity.Message">
    insert into message (msg_id, sender_id, sender_name, 
      receiver_id, receiver_name, content, 
      is_read, send_time)
    values (#{msgId,jdbcType=VARCHAR}, #{senderId,jdbcType=VARCHAR}, #{senderName,jdbcType=VARCHAR}, 
      #{receiverId,jdbcType=VARCHAR}, #{receiverName,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, 
      #{isRead,jdbcType=INTEGER}, #{sendTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.cxy.entity.Message">
    insert into message
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="msgId != null">
        msg_id,
      </if>
      <if test="senderId != null">
        sender_id,
      </if>
      <if test="senderName != null">
        sender_name,
      </if>
      <if test="receiverId != null">
        receiver_id,
      </if>
      <if test="receiverName != null">
        receiver_name,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="isRead != null">
        is_read,
      </if>
      <if test="sendTime != null">
        send_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="msgId != null">
        #{msgId,jdbcType=VARCHAR},
      </if>
      <if test="senderId != null">
        #{senderId,jdbcType=VARCHAR},
      </if>
      <if test="senderName != null">
        #{senderName,jdbcType=VARCHAR},
      </if>
      <if test="receiverId != null">
        #{receiverId,jdbcType=VARCHAR},
      </if>
      <if test="receiverName != null">
        #{receiverName,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="isRead != null">
        #{isRead,jdbcType=INTEGER},
      </if>
      <if test="sendTime != null">
        #{sendTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cxy.entity.Message">
    update message
    <set>
      <if test="senderId != null">
        sender_id = #{senderId,jdbcType=VARCHAR},
      </if>
      <if test="senderName != null">
        sender_name = #{senderName,jdbcType=VARCHAR},
      </if>
      <if test="receiverId != null">
        receiver_id = #{receiverId,jdbcType=VARCHAR},
      </if>
      <if test="receiverName != null">
        receiver_name = #{receiverName,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="isRead != null">
        is_read = #{isRead,jdbcType=INTEGER},
      </if>
      <if test="sendTime != null">
        send_time = #{sendTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where msg_id = #{msgId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cxy.entity.Message">
    update message
    set sender_id = #{senderId,jdbcType=VARCHAR},
      sender_name = #{senderName,jdbcType=VARCHAR},
      receiver_id = #{receiverId,jdbcType=VARCHAR},
      receiver_name = #{receiverName,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      is_read = #{isRead,jdbcType=INTEGER},
      send_time = #{sendTime,jdbcType=TIMESTAMP}
    where msg_id = #{msgId,jdbcType=VARCHAR}
  </update>


</mapper>